.el-menu-item.is-active {
  background: linear-gradient(90deg, #2b579c 0%, rgba(52, 89, 150, 0) 100%);
  border-left: 2px solid #0086ff;
}

.el-menu-item:focus,
.el-menu-item:hover {
  background: linear-gradient(90deg, #2b579c 0%, rgba(52, 89, 150, 0) 100%);
  border-left: 2px solid #0086ff;
}

.el-submenu__title i {
  color: #00d7ff !important;
}

.el-menu-item,
.el-submenu__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.el-menu-item .radius,
.el-submenu__title .radius {
  width: 8px;
  height: 8px;
  background: #468ffe;
  opacity: 0.6;
  border-radius: 50%;
  margin-right: 10px;
}

.el-menu-item i,
.el-submenu__title i {
  color: #00d7ff !important;
}
